body {
  background: linear-gradient(135deg, #1d2671, #c33764);
  font-family: Arial, sans-serif;
  color: white;
  padding: 20px;
}

.rating-box, .review-box {
  background: white;
  color: black;
  padding: 20px;
  border-radius: 12px;
  max-width: 320px;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
}

input {
  width: 90%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.stars {
  font-size: 32px;
  margin-bottom: 10px;
}

.star {
  cursor: pointer;
  color: #ccc;
}

.star.active {
  color: gold;
}

button {
  padding: 10px 18px;
  border: none;
  background: #1d2671;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #c33764;
}

.review-box ul {
  list-style: none;
  padding: 0;
}

.review-box li {
  background: #f1f1f1;
  padding: 8px;
  border-radius: 6px;
  margin-bottom: 6px;
}
.delete-btn {
  background: red;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 4px 7px;
  cursor: pointer;
  margin-left: 8px;
  font-size: 12px;
}

.delete-btn:hover {
  background: darkred;
}